.float-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #f2f2f2;
    background-color: #4C3E7D;
    padding: 15px;
    justify-content: space-between;
    border-radius: 30px;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}
.float-button svg{
    size: 20px;
    font-size: 20px;
}
.float-button:hover{
    width: 200px;
}

.boxpopup{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin-top: -14px;
}

.boxpopup .popup{
    top: 20%;
    left: 40%;
    width: 350px;
    position: fixed;
    display: table-column;
    color: #f2f2f2;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.boxpopup .popup .close{
    margin-top: -10px;
    margin-left: 300px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(214, 0, 0);
    transition: 0.2s;
    cursor: pointer;
}
.boxpopup .popup .close:hover{
    background-color: rgba(180, 0, 0);
    transform :rotate(90deg);
}
.boxpopup .popup .description{
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #4C3E7D;
}


.content{
    margin-top: 70px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    align-content: flex-start;
    display: flex;
}
.content .box-sorteios{
    color: #4C3E7D;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 380px;
    border-radius: 11px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.content .box-sorteios .titulo-sorteio{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.content .box-sorteios svg{
    color: #757575;
    size: 25px;

}
.content .box-sorteios .titulo-sorteio svg:hover{
    opacity: 80%;
    cursor: pointer;
    color: red;
}

.content .line{
    height: 2px;
    background-color: #7159c1;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;

}
.content .data{
    margin-bottom: 5px;
    font-size: 18px;
}
.content .data span{
    font-weight: bold;
    margin-left: 10px;
}
.content .datalink{
    margin-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
}
.content .datalink span{
    font-weight: bold;
    margin-left: 10px;
}
.content .datalink:hover{
    text-decoration: underline;
}

.content .box-participante{
    color: #4C3E7D;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 800px;
    border-radius: 11px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.content .box-participante ul{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 11px;
    list-style: none;
}
.content .box-participante ul li{
    display: flex;
    border-radius: 11px;
    width: 100%;
    max-width: 300px;
    border-style: groove;
    padding: 5px;
}
.content .box-participante ul li strong{
    font-size: 13px;
}
.content .box-participante ul li p {
    font-size: 10px;
    margin-top: 5px;
}
.content .box-participante ul li .close{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding: 2px;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.content .box-participante ul li .close:hover{
    opacity: 0.7;
}
.content .box-participante ul li .close svg{
    color: red;
    size: 20px;
}

.content .box-participante .titulo-participante{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.content .box-participante svg{
    color: #757575;
    size: 25px;

}
.content .box-participante .titulo-participante svg:hover{
    opacity: 80%;
    cursor: pointer;
    color: green;
}
.content .box-participante .participante{
    width: 100%;
    max-width: 230px;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
}

.content .box-participante .participante .close{
    margin-top: -5px;
    margin-left: 190px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(214, 0, 0);
    transition: 0.2s;
    cursor: pointer;
}
.content .box-participante .participante .close svg{
    color: white;
}
.content .box-participante .participante .close:hover{
    background-color: rgba(180, 0, 0);
    transform :rotate(90deg);
}
